--
-- PostgreSQL database dump
--

-- Dumped from database version 17.1 (Debian 17.1-1.pgdg120+1)
-- Dumped by pg_dump version 17.1 (Debian 17.1-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_timestamp(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_timestamp() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = NOW();
RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_timestamp() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: interets; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.interets (
    id_interet uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    id_utilisateur uuid NOT NULL,
    nom_interet character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    intensite integer DEFAULT 3,
    categorie character varying(100),
    CONSTRAINT interets_intensite_check CHECK (((intensite >= 1) AND (intensite <= 5)))
);


ALTER TABLE public.interets OWNER TO postgres;

--
-- Name: restaurant_hours; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_hours (
    id integer NOT NULL,
    restaurant_id integer NOT NULL,
    day_of_week character varying(10) NOT NULL,
    is_open boolean DEFAULT false,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurant_hours OWNER TO postgres;

--
-- Name: restaurant_hours_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_hours_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_hours_id_seq OWNER TO postgres;

--
-- Name: restaurant_hours_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_hours_id_seq OWNED BY public.restaurant_hours.id;


--
-- Name: restaurant_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_images (
    id integer NOT NULL,
    restaurant_id integer NOT NULL,
    filename character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurant_images OWNER TO postgres;

--
-- Name: restaurant_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_images_id_seq OWNER TO postgres;

--
-- Name: restaurant_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_images_id_seq OWNED BY public.restaurant_images.id;


--
-- Name: restaurant_reservations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_reservations (
    id integer NOT NULL,
    restaurant_id integer NOT NULL,
    table_id integer,
    customer_name character varying(255) NOT NULL,
    customer_email character varying(255),
    customer_phone character varying(100) NOT NULL,
    party_size integer NOT NULL,
    reservation_date date NOT NULL,
    reservation_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    status character varying(50) DEFAULT 'confirmed'::character varying,
    special_requests text,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    is_social_dining boolean DEFAULT false
);


ALTER TABLE public.restaurant_reservations OWNER TO postgres;

--
-- Name: restaurant_reservations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_reservations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_reservations_id_seq OWNER TO postgres;

--
-- Name: restaurant_reservations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_reservations_id_seq OWNED BY public.restaurant_reservations.id;


--
-- Name: restaurant_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_settings (
    id integer NOT NULL,
    restaurant_id integer NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying,
    tax_rate numeric(5,3) DEFAULT 0.0,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurant_settings OWNER TO postgres;

--
-- Name: restaurant_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_settings_id_seq OWNER TO postgres;

--
-- Name: restaurant_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_settings_id_seq OWNED BY public.restaurant_settings.id;


--
-- Name: restaurant_shifts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_shifts (
    id integer NOT NULL,
    restaurant_hours_id integer NOT NULL,
    shift_name character varying(50) DEFAULT 'Main'::character varying,
    open_time time without time zone NOT NULL,
    close_time time without time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurant_shifts OWNER TO postgres;

--
-- Name: restaurant_shifts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_shifts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_shifts_id_seq OWNER TO postgres;

--
-- Name: restaurant_shifts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_shifts_id_seq OWNED BY public.restaurant_shifts.id;


--
-- Name: restaurant_tables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurant_tables (
    id integer NOT NULL,
    restaurant_id integer NOT NULL,
    table_number character varying(20) NOT NULL,
    capacity integer NOT NULL,
    location character varying(100),
    status character varying(50) DEFAULT 'available'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurant_tables OWNER TO postgres;

--
-- Name: restaurant_tables_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurant_tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurant_tables_id_seq OWNER TO postgres;

--
-- Name: restaurant_tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurant_tables_id_seq OWNED BY public.restaurant_tables.id;


--
-- Name: restaurants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.restaurants (
    id integer NOT NULL,
    user_id uuid NOT NULL,
    restaurant_name character varying(255) NOT NULL,
    restaurant_type character varying(100) NOT NULL,
    address character varying(255) NOT NULL,
    contact character varying(100) NOT NULL,
    description text,
    verification character varying(50) DEFAULT 'pending'::character varying,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.restaurants OWNER TO postgres;

--
-- Name: restaurants_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.restaurants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.restaurants_id_seq OWNER TO postgres;

--
-- Name: restaurants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.restaurants_id_seq OWNED BY public.restaurants.id;


--
-- Name: utilisateurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilisateurs (
    id_utilisateur uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nom character varying(255) NOT NULL,
    prenom character varying(255) NOT NULL,
    mail character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'user'::character varying,
    notification boolean DEFAULT false,
    langue character varying(10) DEFAULT 'fr'::character varying,
    date_naissance date NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    email_verified boolean DEFAULT false NOT NULL,
    verification_token character varying(255),
    token_expires timestamp without time zone
);


ALTER TABLE public.utilisateurs OWNER TO postgres;

--
-- Name: restaurant_hours id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_hours ALTER COLUMN id SET DEFAULT nextval('public.restaurant_hours_id_seq'::regclass);


--
-- Name: restaurant_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_images ALTER COLUMN id SET DEFAULT nextval('public.restaurant_images_id_seq'::regclass);


--
-- Name: restaurant_reservations id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_reservations ALTER COLUMN id SET DEFAULT nextval('public.restaurant_reservations_id_seq'::regclass);


--
-- Name: restaurant_settings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_settings ALTER COLUMN id SET DEFAULT nextval('public.restaurant_settings_id_seq'::regclass);


--
-- Name: restaurant_shifts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_shifts ALTER COLUMN id SET DEFAULT nextval('public.restaurant_shifts_id_seq'::regclass);


--
-- Name: restaurant_tables id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables ALTER COLUMN id SET DEFAULT nextval('public.restaurant_tables_id_seq'::regclass);


--
-- Name: restaurants id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurants ALTER COLUMN id SET DEFAULT nextval('public.restaurants_id_seq'::regclass);


--
-- Data for Name: interets; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_hours; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_images (id, restaurant_id, filename, created_at) FROM stdin;
2	14	restaurant-14-1756158029105-367350218.jpg	2025-08-25 21:40:29.145769
\.


--
-- Data for Name: restaurant_reservations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.restaurant_settings (id, restaurant_id, currency, tax_rate, created_at, updated_at) FROM stdin;
1	1	USD	0.000	2025-05-26 20:23:23.191018+00	2025-05-26 20:23:23.191018+00
2	2	USD	0.000	2025-05-26 22:29:07.855051+00	2025-05-26 22:29:07.855051+00
3	14	USD	0.000	2025-08-23 11:57:02.395334+00	2025-08-23 11:57:02.395334+00
\.


--
-- Data for Name: restaurant_shifts; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurant_tables; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: restaurants; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: utilisateurs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: restaurant_hours_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_hours_id_seq', 105, true);


--
-- Name: restaurant_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_images_id_seq', 2, true);


--
-- Name: restaurant_reservations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_reservations_id_seq', 33, true);


--
-- Name: restaurant_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_settings_id_seq', 3, true);


--
-- Name: restaurant_shifts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_shifts_id_seq', 22, true);


--
-- Name: restaurant_tables_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurant_tables_id_seq', 50, true);


--
-- Name: restaurants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.restaurants_id_seq', 14, true);


--
-- Name: interets interets_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interets
    ADD CONSTRAINT interets_pkey PRIMARY KEY (id_interet);


--
-- Name: restaurant_hours restaurant_hours_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_hours
    ADD CONSTRAINT restaurant_hours_pkey PRIMARY KEY (id);


--
-- Name: restaurant_hours restaurant_hours_restaurant_id_day_of_week_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_hours
    ADD CONSTRAINT restaurant_hours_restaurant_id_day_of_week_key UNIQUE (restaurant_id, day_of_week);


--
-- Name: restaurant_images restaurant_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_images
    ADD CONSTRAINT restaurant_images_pkey PRIMARY KEY (id);


--
-- Name: restaurant_images restaurant_images_restaurant_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_images
    ADD CONSTRAINT restaurant_images_restaurant_id_key UNIQUE (restaurant_id);


--
-- Name: restaurant_reservations restaurant_reservations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_reservations
    ADD CONSTRAINT restaurant_reservations_pkey PRIMARY KEY (id);


--
-- Name: restaurant_settings restaurant_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_settings
    ADD CONSTRAINT restaurant_settings_pkey PRIMARY KEY (id);


--
-- Name: restaurant_shifts restaurant_shifts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_shifts
    ADD CONSTRAINT restaurant_shifts_pkey PRIMARY KEY (id);


--
-- Name: restaurant_tables restaurant_tables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables
    ADD CONSTRAINT restaurant_tables_pkey PRIMARY KEY (id);


--
-- Name: restaurants restaurants_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurants
    ADD CONSTRAINT restaurants_pkey PRIMARY KEY (id);


--
-- Name: utilisateurs utilisateurs_mail_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_mail_key UNIQUE (mail);


--
-- Name: utilisateurs utilisateurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilisateurs
    ADD CONSTRAINT utilisateurs_pkey PRIMARY KEY (id_utilisateur);


--
-- Name: idx_interets_intensite; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_interets_intensite ON public.interets USING btree (intensite);


--
-- Name: interets update_interets_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_interets_timestamp BEFORE UPDATE ON public.interets FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurant_hours update_restaurant_hours_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurant_hours_timestamp BEFORE UPDATE ON public.restaurant_hours FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurant_reservations update_restaurant_reservations_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurant_reservations_timestamp BEFORE UPDATE ON public.restaurant_reservations FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurant_settings update_restaurant_settings_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurant_settings_timestamp BEFORE UPDATE ON public.restaurant_settings FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurant_shifts update_restaurant_shifts_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurant_shifts_timestamp BEFORE UPDATE ON public.restaurant_shifts FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurant_tables update_restaurant_tables_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurant_tables_timestamp BEFORE UPDATE ON public.restaurant_tables FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: restaurants update_restaurants_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_restaurants_timestamp BEFORE UPDATE ON public.restaurants FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: utilisateurs update_utilisateurs_timestamp; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_utilisateurs_timestamp BEFORE UPDATE ON public.utilisateurs FOR EACH ROW EXECUTE FUNCTION public.update_timestamp();


--
-- Name: interets interets_id_utilisateur_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.interets
    ADD CONSTRAINT interets_id_utilisateur_fkey FOREIGN KEY (id_utilisateur) REFERENCES public.utilisateurs(id_utilisateur) ON DELETE CASCADE;


--
-- Name: restaurant_hours restaurant_hours_restaurant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_hours
    ADD CONSTRAINT restaurant_hours_restaurant_id_fkey FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id) ON DELETE CASCADE;


--
-- Name: restaurant_images restaurant_images_restaurant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_images
    ADD CONSTRAINT restaurant_images_restaurant_id_fkey FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id) ON DELETE CASCADE;


--
-- Name: restaurant_reservations restaurant_reservations_restaurant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_reservations
    ADD CONSTRAINT restaurant_reservations_restaurant_id_fkey FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id) ON DELETE CASCADE;


--
-- Name: restaurant_reservations restaurant_reservations_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_reservations
    ADD CONSTRAINT restaurant_reservations_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.restaurant_tables(id);


--
-- Name: restaurant_settings restaurant_settings_restaurant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_settings
    ADD CONSTRAINT restaurant_settings_restaurant_id_fkey FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id) ON DELETE CASCADE;


--
-- Name: restaurant_shifts restaurant_shifts_restaurant_hours_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_shifts
    ADD CONSTRAINT restaurant_shifts_restaurant_hours_id_fkey FOREIGN KEY (restaurant_hours_id) REFERENCES public.restaurant_hours(id) ON DELETE CASCADE;


--
-- Name: restaurant_tables restaurant_tables_restaurant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurant_tables
    ADD CONSTRAINT restaurant_tables_restaurant_id_fkey FOREIGN KEY (restaurant_id) REFERENCES public.restaurants(id) ON DELETE CASCADE;


--
-- Name: restaurants restaurants_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.restaurants
    ADD CONSTRAINT restaurants_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.utilisateurs(id_utilisateur) ON DELETE CASCADE;


--
-- Name: TABLE interets; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.interets TO tablify_user;


--
-- Name: TABLE restaurant_hours; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurant_hours TO tablify_user;


--
-- Name: TABLE restaurant_reservations; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurant_reservations TO tablify_user;


--
-- Name: TABLE restaurant_settings; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurant_settings TO tablify_user;


--
-- Name: TABLE restaurant_shifts; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurant_shifts TO tablify_user;


--
-- Name: TABLE restaurant_tables; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurant_tables TO tablify_user;


--
-- Name: TABLE restaurants; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.restaurants TO tablify_user;


--
-- Name: TABLE utilisateurs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.utilisateurs TO tablify_user;


--
-- PostgreSQL database dump complete
--

